<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login in accaunt:</h1>
    <form action="../php/login.php", id="form", method="POST">
        <p>username:</p>
        <br>
        <input type="text", name="username", id="username", placeholder="your username">
        <br>
        <p>password:</p>
        <br>
        <input type="text", name="password", id="password", placeholder="your password">
        <button type="submit">sign in</button>
    </form>
    <br>
    <br>
    <br>
    <h4>Not have a accaunt? -> <a href="register.html">sign up</a></h4>
    <script src="../static/script.js"></script>
</body>
</html>